<section id="event" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading text-center">Recepción y Ceremonia</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>Cuándo</dt>
                    <dd>Sábado 22 de agosto, 2:30pm</dd>
                    <dt>Dónde</dt>
                    <dd>
                        Casa SADI<br>
                        Sadi Carnot 106, San Rafael, Cuauhtémoc, 06470 CDMX
                    </dd>
                    <dt>Vestimenta</dt>
                    <dd><a href="https://pin.it/54yX5Tdm0" target="_blank" style="color:#aaa;">Garden Cocktail Attire</a></dd>
                    <dt>Transporte y estadía</dt>
                    <dd>Arréglenselas, ya están grandecitos</dd>
                    <dt>Parking</dt>
                    <dd>Quizá, pero vengan en Uber para poder beber</dd>
                </dl>
            </div>
        </div>
    </div>
</section>
