<section id="event" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading text-center">recepción y ceremonia</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>cuándo</dt>
                    <dd>sábado 22 de agosto, 4pm</dd>
                    <dt>dónde</dt>
                    <dd>por confirmar, cdmx</dd>
                    <dt>vestimenta</dt>
                    <dd>formalón (jardín)</dd>
                    <dt>transporte y estadía</dt>
                    <dd>arréglenselas, ya están grandecitos</dd>
                    <dt>parking</dt>
                    <dd>quizá, pero vengan en uber para poder beber</dd>
                </dl>
            </div>
        </div>
    </div>
</section>
